.tit1{
    color: red;
    text-align: center;
    font-size: 50px;

}

.color{
    color: blue;
    text-align: center;
    font-size: 20px;
} 

.texto{
    font-size: 18x;
}
.uno{
    width:100px;
			height:100px;
			border:solid 1px black;
			margin:2px;
}
.text2{
    font-size: 20px;
}